@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* LOGIN & REGISTRATION */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

p, h5 {
  margin: 0;
}

ul {
  list-style: none;
}

#root {
  height: 100%;
}

.hide {
  display: none;
}

.fa-check-square {
  color: white;
  margin-right: 7.5px;
}

.accsetup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
  color: white;
}

.text {
  flex: 1;
  text-align: center;
  padding: 50px;
}

.text h1 {
  margin-bottom: 30px;
  color: white;
}

.text ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 320px;
}

.text li {
  margin-bottom: 20px;
  color: white;
}

.ls-cont {
  background-color: white;
  border: 1px solid black;
  padding: 35px;
  width: 510px;
  z-index: 10;
  flex: 1;
  margin-top: 30px;
}

.ls-cont form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ls-cont form input {
  background: white;
  border: 1px #C4C4C4 solid;
  color: black; 
  padding: 10px;
  width: 100%;
}

.ls-cont form button {
  background-color: #00226F;
  border: 1px solid #00226F;
  color: white;
}

.ls-cont form button:hover {
  background-color: white;
  border: 1px solid #00226F;
  color: #00226F;
}

.ls-cont form button {
  text-transform: uppercase;
  padding: 10px 15px;
}

.ls-cont__btn {
  align-self: center;
}

.btn-ls {
  display: flex;
  margin-bottom: 30px;
}

.btn-ls button {
  background-color: white;
  border: 1px #C4C4C4 solid;
  font-size: 16px;
  padding: 20px 10px;
  text-transform: uppercase;
  width: 100%;
  margin-right: 10px; 
  color: #00226F;
}

.btn-ls .btn-ls--focus {
  background-color: #00226F;
  color: white;
}

@media (max-width: 768px) {
  .accsetup {
    flex-direction: column;
    align-items: center;
  }

  .text,
  .ls-cont {
    width: 100%;
    max-width: 500px;
  }
}
