.Navbar {
    padding: 10px 0 10px 50px;
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    border: 1px rgb(196, 196, 196) solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    color: #00226F;
 }
 
 .Navbar__btn {
   background-color: #00226F;
   border: 1px solid rgba(160, 142, 142, 0);
   border-radius: 8px;
   color: white;
   padding: 1em; /* Use relative units */
   width: auto; /* Set width to auto for responsiveness */
   white-space: nowrap;
}

 
 .Navbar__btn:hover {
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    color: #00226F;
    border: 1px solid #00226F;
 }
 
 .Navbar--left {
    display: flex;
    gap: 60px;
 }
 
 .nav-container {
    margin: auto;
 }
 
 img {
    height: 50px;
    width: auto;
 }
 
 @media screen and (max-width: 768px) {
  .Navbar {
   flex-direction: column;
  }
  .Navbar--left {
   flex-direction: column;
  }
 }
 